body{
	position: relative;
}
a{
	text-decoration: none;
	color: black;
}
.menu{
	width: 175px;
	height: 315px;
	position: fixed;
	border-right: 1px solid #ccc;
	top: 90px;
	left: 10px;
}
.caidan{
	margin-left: 20px;
}
.caidan li{
	margin-top: 10px;
}
.caidan li ul{
	margin-left: 20px;
}
.box{
	width: 80%;
	height: auto;
	float: right;
	margin-right: 5%;
}
.title{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ccc;
	font-size: 25px;
	line-height: 50px;
}
table{
    width: 100%;
    border-collapse: collapse;
	margin-top: 20px;
}



th,td{
    border: 1px solid #999;
    text-align: center;
    padding: 10px 0;
	font-size: 13px;
}

table thead tr{
    background-color: white;
    color: black;
}

table tbody tr:nth-child(odd){
    background-color: #eee;
}

table tbody tr:hover{
    background-color: #ccc;
}

table tbody tr td:first-child{
    color: black;
}

table tfoot tr td{
    text-align: right;
    padding-right: 20px;
}
.a{
	margin-left: 30px;
}
.a li{
	list-style: disc;
	margin-top: 15px;
	font-size: 12px;
}
.a span{
	color: rgb(255, 69, 93);
}
.qthj{
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.sm{
	width: 90%;
	margin: 0 auto;
	
}
.sm li{
	list-style: disc;
	margin-left: 15px;
}
.js{
	width: 90%;
	height: auto;
	margin: 0 auto;
}
h3,h4,h2,h1{
	margin-top: 20px;
}
.box p{
	padding: 10px 0;
}
.box img{
	width: 600px;
}
.azhj{
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.azhj li{
	list-style: disc;
	margin-left: 15px;
}
.box-geo img{
	margin-left: 5%;
}
.box-geo p{
	width: 90%;margin: 0 auto;
}